@import "../../styles/utils/variables";

.listItem {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    width: 100%;
    flex-wrap: wrap;
    background-color: $white-primary-color;
    margin-bottom: 10px;
    border-radius: 15px;
}

.productName {
    color: $headers-primary-color;
    margin: 10px 25px;
    font-weight: 900;
    font-size: 38px;

    @media (max-width: 767px) {
        text-align: center;
    }
}

.subHeader {
    color: $headers-primary-color;
    margin: 10px 25px;

    @media (max-width: 767px) {
        text-align: center;
    }
}

.productPrice {
    color: $small-content-color;
    line-height: 1.4;
    font-weight: bold;
    font-size: 26px;
    margin: 10px 25px;

    @media (max-width: 767px) {
        margin: 10px auto;
    }
}
